@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #111111;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.loading {
  width: 60px;
  display: inherit;
  aspect-ratio: 6;
  background: radial-gradient(
      circle closest-side at left 6px top 50%,
      currentColor 90%,
      #eeecec00
    ),
    radial-gradient(circle closest-side, currentColor 90%, #0000),
    radial-gradient(
      circle closest-side at right 6px top 50%,
      currentColor 90%,
      #0000
    );
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: d4 0.8s infinite alternate;
}
@keyframes d4 {
  to {
    width: 25px;
    aspect-ratio: 1;
  }
}
